@use '../abstracts' as *;

.disclaimer-wrapper {
  display: flex;
  background-color: #fff;
  border: #e2ebe4 solid 1px;
  justify-content: center;

  .disclaimer {
    display: flex;
    background-color: #fffce4;
    border: calc(1px * var(--app-scale)) solid #ecdab2;
    padding: calc(20px * var(--app-scale));
    border-radius: calc(5px * var(--app-scale));
    margin: calc(40px * var(--app-scale));
    gap: calc(10px * var(--app-scale));

    * {
      font-family: $font-regular;
    }

    i {
      color: #c9922b;
    }

    .text {
      color: #403c2e;
    }

    @media (max-width: 768px) {
      margin: calc(20px * var(--app-scale));
      text-align: justify;
    }
  }
}
