@font-face {
  font-family: 'TBCContractica-Regular';
  src: url('/fonts/TBCContractica-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TBCContracticaCAPS-Black';
  src: url('/fonts/TBCContracticaCAPS-Black.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}