@font-face {
  font-family: 'BPG-ARIAL';
  src: url('/fonts/bpg-arial.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TBCContractica-Regular';
  src: url('/fonts/TBCContractica-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TBCContracticaCAPS-Bold';
  src: url('/fonts/TBCContracticaCAPS-Bold.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'TBCContracticaCAPS-Black';
  src: url('/fonts/TBCContracticaCAPS-Black.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}