@use '../abstracts' as *;

.disclaimer {
  display: flex;
  background-color: #fffce4;
  border: 1px solid #ecdab2;
  padding: 20px;
  border-radius: 5px;
  margin: 40px;
  gap: 10px;

  * {
    font-family: $font-regular;
  }

  i {
    color: #c9922b;
  }

  .text {
    color: #403c2e;
  }

  @media (max-width: 768px) {
    margin: 20px;
    text-align: justify;
  }
}
